{% extends "subbase.html" %}
{% block container %}
<div class="video-container">
    {% with videos=pagination.items %}
    {% for video in videos %}
        <div class="video-box">
            <a href="{{ video.room }}" class="thumbnail" target="_blank">
                <div class="video-cover">
                    <img src="{{ video.cover }}" alt="{{ video.cover }}" referrerPolicy="no-referrer">
                </div>
                <div class="video-info">
                    <span class="video-title" title="{{ video.title }}">
                        {{ video.title|replace(title, '<b style="color: red;">' + title + '</b>')|safe }}
                    </span>
                    <span class="video-number" title="{{ video.viewers_num }}">
                        <i class="glyphicon glyphicon-eye-open"></i>{{ video.viewers_num }}</span>
                    <span class="video-nickname" title="{{ video.nickname }}">
                        {{ video.nickname|replace(title, '<b style="color: red;">' + title + '</b>')|safe }}
                    </span>
                    <span class="video-category" title="{{ video.cate }}">{{ video.cate }}</span>
                    <span class="video-source" title="{{ video.source }}直播">{{ video.source }}直播</span>
                </div>
            </a>
            <a href="###" class="video-favorite" data-room="{{ video.room }}">
            {%- if video in current_user.favorite %}取消收藏{% else %}添加收藏{% endif -%}
            </a>
        </div>
    {% endfor %}
    {% endwith %}
</div>
{%- from "pagination.html" import render_pagination %}
    {{ render_pagination(pagination) }}
{% endblock %}
